@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
	background-color: $bg;
	&__inner{
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__inner-logolink{
		font-size: 48px;
		display: block;
		color: $text;
		line-height: 46px;
	}
	&__inner-menu{
		display: flex;
	}
	&__inner-item{
		&+&{
			margin-left: 25px;
		}
	}
	&__inner-link{
		color: $text;
		font-size: 20px;
		transition: all .3s;
				&:hover{
			color: $accent;
		}
	}
}
.main{
	display: flex;
}
.filters-section{
	background-color: #eeeeee;
	&__item{
		font-size: 22px;
		color: #000;
	}
}
.news-section{
	padding: 50px 0;
	text-align: center;
	&__title{
		margin-bottom: 100px;
	}
	&__items{

	}
	&__item{
		display: flex;
		background-color: #fff;
	}
	&__item-title{
		font-size: 28px;
		line-height: 46px;
		color: $title;
		margin-right: 30px;
	}
	&__item-img{
		object-fit: cover;
		max-width: 300px;
	}
}